/* Reset de margens e preenchimentos para o body */
body {
    margin: 0;
    padding: 0;
}

/* Estilo básico para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

/* Estilo para o container dentro do cabeçalho */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Estilizando o logo */
h1 {
    font-size: 24px;
}

/* Estilizando a navegação */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f00; /* Altere a cor para a cor desejada */
}

body {
    font-family: Arial, sans-serif;
}

.quiz-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.question {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result-container {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    display: none;
}

.result {
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
}